.badge {
    font-size: 12px;
    color: #fff;
    background: red;
    border-radius: 20px;
    padding: 5 5px;
    position: relative;
    left: -8px;
    top: -20px;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1)
}

.carousel-indicators li {
    background-color: #6C63FF;
}

.carousel-indicators .active {
    background-color: black;
}