<div class="card" style="border-radius: 20px; text-align: center;">

    <a href="{{ url_for('static', filename='images/collectibles/'+collectible.collectible) }}">

        <img style="height: 200px; margin: 16px;"
            src="{{ url_for('static', filename='images/collectibles/'+collectible.collectible) }}" alt={{ collectible
            }}>
    </a>
    <div class="card-body">
        <h5 style="text-align: center; margin: 32px;" class="card-title">{{
            collectible.collectible }}</h5>
        <p style="text-align: center;" class="card-text">Owner: <span style="font-weight: bold; font-size: small;">{{
                collectible.owner }}</span></p>
        {% if current_user.is_authenticated %}
        <form method="post" action="nft-operations/mint">
            <input id="collectibleId" name="collectibleId" type="hidden" value="{{ collectible.id }}">
            <input id="collectible" name="collectible" type="hidden" value="{{ collectible.collectible }}">

            <button style="border-radius: 32px; background-color: #6C63FF; border: none;" type="submit"
                class="btn btn-primary">Mint</button>
        </form>
        {% else %}
        <button style="border-radius: 32px; background-color: #6C63FF; border: none;" type="submit"
            class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Mint</button>
        {% endif %}
    </div>
</div>