{% include 'header.html' %}
{% include 'navbar.html' %}
{% include 'login_modal.html' %}

<!-- slideshow -->
<h1 style="margin-top: 32px; text-align: center;">TRY: a nfT lotteRY</h1>
<h4 style="margin-bottom: 32px; text-align: center; color: grey;">Win fantastic collectibles</h4>
<div id="carouselHome" class="carousel slide" data-ride="carousel" style="height: 600px;">
    <ol class="carousel-indicators">
        {% for collectible in slideshow_collectibles %}
        <li data-target="#carouselHome" data-slide-to="{{ loop.index }}" {% if loop.index==1 %} class="active" {% endif
            %}>
            {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for collectible in slideshow_collectibles %}
        <div class={% if loop.index==1 %} "carousel-item active" {% else %} "carousel-item" {% endif %}>
            <a href="{{ url_for('static', filename='images/collectibles/'+collectible.collectible) }}">
                <img class=" mx-auto d-block" style="width: 500px; height: 400px; margin-bottom: 24px;"
                    src="{{ url_for('static', filename='images/collectibles/'+collectible.collectible) }}" alt={{
                    collectible }}>
            </a>
            <h5 style="text-align: center;">{{ collectible.collectible }}</h5>
            <p style="text-align: center;">Owner: <span style="font-weight: bold; font-size: small;">{{
                    collectible.owner }}</span> <br>


                {% if current_user.is_authenticated %}
                {% if current_user.is_admin %}
            <form method="post" action="lottery/mint" style=" text-align: center;">
                <input id="collectibleId" name="collectibleId" type="hidden" value="{{ collectible.id }}">
                <input id="collectible" name="collectible" type="hidden" value="{{ collectible.collectible }}">
                <button type="submit" class="btn-rounded">Mint</button>
            </form>
            {% endif %}
            {% else %}
            <button type="submit" class="btn-rounded" data-toggle="modal" data-target="#loginModal">Mint</button>
            {% endif %}


        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselHome" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselHome" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div style="margin-top: 32px;">

    <div class="container" style="margin-top: 32px; text-align: center;">
        <hr>
        <h1 style="margin-bottom: 32px;">Last created</h1>

        <!-- slider with collectibles -->
        <div class="glide" style="padding-bottom: 64px;">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    {% for collectible in collectibles %}
                    <li class="glide__slide">
                        {% include 'collectible_card.html' %}
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div style="background-color: #E8E8E8; border-radius: 10px; padding: 4px;"
                class="slider__bullets glide__bullets" data-glide-el="controls[nav]">
                {% for collectible in collectibles %}
                {% if (loop.index) <= collectibles|length-2 %} <button class="slider__bullet glide__bullet"
                    data-glide-dir="={{ loop.index - 1 }}"></button>
                    {% endif %}
                    {% endfor %}
            </div>
        </div>
    </div>
</div>



<script>
    new Glide('.glide', {
        type: 'slider',
        startAt: 0,
        perView: 3,
        gap: 50,
        bound: true,
        autoplay: 5000,
        breakpoints: {
            600: {
                perView: 1
            },
            1000: {
                perView: 2
            },
        }
    }).mount()
</script>

</body>