{% include 'header.html' %}
{% include 'navbar.html' %}

<div class="container" style="margin-top: 32px; width: 500px;">
    <!-- create a card with input from to authenticate -->
    <div class="card" style="text-align: center;">
        <div class="card-header">
            <h5 class="card-title">Login</h5>
        </div>
        <div class="card-body">
            <form method="post" action="{{ url_for('auth.login') }}">
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" name="address"placeholder="Address">
                    <input type="hidden" id="next_url" name="next_url" value="{{ next_url }}">
                </div>
                <button style="border-radius: 32px; background-color: #6C63FF; border: none; margin: 8px;" type="submit"
                    class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>