<!-- Pop up for cart login  -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login needed</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="{{ url_for('auth.login') }}">
                <div class="modal-body">
                    <p>Address:</p>
                    <select class="form-select" aria-label="Account" id="address" name="address">
                        {% for account in accounts %}
                            <option value="{{ account }}">{{ account }}</option>
                        {% endfor %}
                      </select>
                </div>
                <div class="modal-footer">
                    <button
                        type="submit" class="btn-rounded">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>