<!-- Pop up for cart login  -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login needed</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/login">
                <div class="modal-body">
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control mx-sm-4" id="address" name="address" placeholder="Address">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button style="border-radius: 32px; background-color: #6C63FF; border: none; margin: 8px;"
                        type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>