{% include 'header.html' %}
{% include 'navbar.html' %}

<div class="container" style="margin-top: 64px;">
  <h1>Lottery</h1>
  <div class="card"
    style="margin: auto; margin-bottom: 32px; background-image: url('/static/images/ether.svg'); background-repeat: no-repeat; background-position: center; background-size: contain;">
    <div class="card-header">
      <h5 class="card-title">Manage lottery</h5>
    </div>
    <div class="card-body">
      <!-- create button to open the lottery -->
      <a href="lottery/create-lottery">
        <button type="button" class="btn-rounded">
          Open lottery
        </button>
      </a>
      <hr>
      <!-- create button to open a round of the lottery -->
      <a href="lottery/open-round">
        <button type="button" class="btn-rounded">
          Open round
        </button>
      </a>
      <hr>
      <!-- create button to close the lottery -->
      <a href="lottery/close-lottery">
        <button type="button" class="btn-rounded">
          Close lottery
        </button>
      </a>
      <hr>
      <!-- create button to extract the winning ticket -->
      <a href="lottery/extract-winning-ticket">
        <button type="button" class="btn-rounded">
          Extract winning ticket
        </button>
      </a>
      <hr>
      <!-- create button to give the prizes -->
      <a href="lottery/give-prizes">
        <button type="button" class="btn-rounded">
          Give prizes
        </button>
    </div>
  </div>
</div>